* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  
}
/* header start */
header {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 7x;
  background-color: lightslategray;
  

  
}

header h1 {
  background-color: teal;
  margin: 7px;
  align-items: center;

}

header nav ul {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  list-style: none;


}

header nav {
  margin: 7px 0;
}

header nav ul a {
  padding: 10px 15px;
  font-weight:bold;
  font-size:1.5vw;
  color: lightblue;
  align-items: center;
 

}

h2 {
  padding: 10px 15px;
  font-weight:bold;
  font-size:2.5vw;
  color: darkgray;
  align-items: center;
}

/*hero */

.hero {
  height: 200px;
  background: url(cool-picture.jpeg);
  position: relative;
  
}

.cool-subtitle
{
  
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: teal;
  margin: 7px;
  align-items: center;


}
/*About Me */
.about-me {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px auto;


}

.about-me-title {
  width: 20%;
 text-align:right;
 padding: 10px;
 display: flex;
 overflow:auto
 
}

.about-me-description {

  border-left: 3px solid;
  padding: 20px;
  width: 80%;
}


/* Work Start here */

.work {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px auto;
  
  
}

.work-title{

width: 10%;
 text-align: right;
 padding: 20px;


}

.work-description {
  border-left: 3px solid;
  padding: 20px;
  flex-wrap: wrap;
  display: flex;
  width: 80%;

}

.work-box-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 10px;

  

}

.full-job-info {
  width: 100%;
  border: teal solid;
  height: 300px;
  position: relative;
}

.sub-job-info {
  width: 50%;
  border: teal solid;
  height: 150px;
  justify-content: space-around;
  margin-bottom: 10px;
  position: relative;
  
}

.projectname{
  position: absolute;
  bottom: 20px;
  background-color: teal;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

img {
  width: 100%;
  height: 100%;
  filter: opacity(25%);

}

img:hover {
  width: 100%;
  height: 100%;
  filter: none;

}

/* Contact me */

.contact-me {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px auto;
  overflow:auto
  
}

.contact-me-title { 
width: 20%;
text-align: right;
padding: 10px;

}

.contact-me-description {
  border-left: 3px solid;
  padding: 20px;
  width: 80%;
  display: flex;

}

.contact-me-description ul {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  list-style: none;

}
.contact-me-description a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size:1.5vw;
  justify-content: space-evenly;
  font-weight: bold;

}